
//  Created on : 19 sept. 2016, 23:59:54
// -----------------------------------------------------------------------------
// This file contains all styles related to Dashboard / Messagerie
// -----------------------------------------------------------------------------

$font-author-sizes: (
null: rem(14px),
$medium: rem(18px)
);
$font-date-sizes: (
null: rem(12px),
$medium: rem(14px)
);
$font-div-sizes: (
null: rem(14px),
$medium: rem(16px)
);
$font-message-title: (
null: rem(18px),
$medium: rem(22px)
);
$font-message-date: (
null: rem(10px),
$medium: rem(12px)
);


.fep-message,
.front-end-pm-form,
.fep-message-table.form,
.btn-reg-container,
.fep-success,
.fep-per-message {
  @extend .white-block;
  
  @include breakpoint($medium) {
    margin-right: 0;
  }
  @include breakpoint($large) {
    margin-right: 7px;
  }
  
  @include when-inside('#messagerie') {
    margin-top: 0;
  }
}

.fep-message {
  .fep-per-message {
    border: none;
    margin: 0;
    padding: 0;
    .fep-message-title {
      text-align: left!important;
    }
  }
}

.btn-reg-container {
  padding: 5px 30px;
  text-align: center;
  
  @include breakpoint($medium) {
    text-align: left;
  }
}
.fep-success {
  color: #2daada;
}

.avatar {
  border-radius: 50%;
  float: left;
  margin-right: 20px;
}
.fep-message-table {
  &.form {
    margin-top: 15px;
  }
}

.fep-message-content {
  display: block!important;
}

.fep-bulk-action {
  float: left;
  margin-right: 10px;
}
.fep-bulk-action-submit {
  .fep-button {
    margin-top: 10px;
    padding: 5px 20px;
    float: none;
    
    @include breakpoint($medium) {
      margin-top: 0;
    }
  }
}

#fep-header {
  margin-bottom: 20px;
}

.fep-table {
  @include clearfix();
  font-family: $font__main;
  select {
    -webkit-appearance: inherit;
    height: 23px;
    padding-left: 10px;
    position: relative;
  }
}
.fep-table-row {
  @include clearfix();
  padding: 15px 0;
  border-bottom: 1px solid #dbdbdb;
}  
.fep-column {
  float: left;
}
.fep-action-table {
  padding-bottom: 20px;
  margin-bottom: 10px;
  border-bottom: 1px solid #dbdbdb;
}
.fep-filter {
  margin: 0;
  text-align: right;
}
.fep-filter,
.fep-bulk-action {
  position: relative;
   &:after {
    content: '';
    position: absolute;
    top: 10px;
    right: 8px;
    width: 1px;
    height: 1px;
    border: 4px solid transparent;
    border-top-color: $black;
  }
}
.fep-column-fep-cb {
  margin-top: 25px;
}
.fep-column-avatar {
  margin: 10px;
  img {
    border-radius: 50%;
    margin: 0;
  }
  
  @include breakpoint($medium) {
    margin: 10px 20px 0;
  }
} 

.fep-column-author {
  margin-top: 10px;
  
  @include breakpoint($medium) {
    margin: 0;
  }
}
.fep-message-author {
  margin-right: 20px;
  display: block;
  
  @include breakpoint($medium) {
    display: inline-block;
  }
}
.fep-message-author,
.fep-column-title {
  width: 100%;
  margin-top: 10px;
  @include breakpoint($large) {
    width: 80%;
    margin-top: 0;
  }
}
.fep-message-title-heading,
.fep-message-author,
.fep-column-title  a {
  @include font-size($font-author-sizes);
  font-weight: 600;
  color: $black;
}
  .fep-message-title-heading {
    @include font-size($font-message-title);
  }
.fep-message {
  .fep-message-title-heading:nth-of-type(2) {
    @include font-size($font-div-sizes);
    font-weight: 400;
  }
}
.fep-column-title  a {
  cursor: pointer;
  transition: color 0.3s ease;
  @include on-event() {
    color: #2daada;
  }
}
.fep-message-title .date,
.fep-message-date,
.fep-message-excerpt {
  @include font-size($font-date-sizes);
  color: $orange__onlyoo;
  font-weight: 600;
}
.fep-message-title {
  margin-bottom: 20px;
}
.fep-message-excerpt {
  color: #919191;
  font-weight: 400;
}
.fep-unread-class {
  color: #2daada;
  font-weight: 600;
  margin-left: 20px;
}

.fep-field {
  .input-text,
  textarea {
    width: 93%;
    max-width: none;
    box-shadow: none; 
  }
  .input-text{
    margin: 10px 0;
  }
  textarea {
    margin: 10px 0 20px;
  }
  #fep_upload,
  #fep-attachment-note{
    margin: 20px 0 10px;
  }
  
  @include breakpoint($medium) {
    .input-text,
    textarea {
      width: 97%;
    }
  }
}
.inline-recipients {
  margin: 10px 0;
}

.fep-button {
  @include btn($orange__onlyoo, $color__button-text);
  padding: 10px 30px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  @include breakpoint($medium) {
    margin-top: -0;
    left: 0;
    transform: none;
    float: right;
    border-radius: 5px;
  }
}
.js-fill-input-to {
  margin-left: 10px;
  padding: 5px 15px;
}


.fep-per-message {
  font-family: $font__main;
  &:nth-of-type(2n) {
    .fep-message-title {
      text-align: right;
      
      @include breakpoint($small) {
        margin-bottom: 0;
      }
    }
    .fep-message-content {
      @include breakpoint($small) {
        padding-right: 149px;
      }
    }
  }
  .author {
    display: block;
    font-weight: 600;
    line-height: 0.8;
  }
  .date {
    @include font-size($font-message-date);
    font-weight: 700;
    
  }
}