
//  Created on : 1 sept. 2016, 17:16:30
// -----------------------------------------------------------------------------
// This file contains all styles related to MY ACCOUNT pages
// -----------------------------------------------------------------------------

$font-forgot-pwd: (
null: rem(11px),
$medium: rem(14px)
);
$font-label-sizes: (
null: rem(14px),
$medium: rem(16px)
);

$font-h2-top: (
null: (rem(18px), 1.2),
$medium: (rem(24px), 1.4)
);
$font-h2-bottom: (
null: (rem(20px), 1.2),
$medium: (rem(28px), 1.4)
);
$font-h2-middle: (
null: (rem(25px), 1.2),
$medium: (rem(32px), 1.4)
);

.woocommerce-account {
  
  
  .woocommerce-MyAccount-content {
    float: none;
    width: 100%;
  }

  #account-wrapper {
      .col2-set {
        width: 100%;
        margin: 0 auto;
        .col-2 {
          padding: 0;
          margin: 0;
        }
        form {
          &.login,
          &.register {
            max-width: 85%;
          }
          label {
            @include font-size($font-label-sizes);
            font-family: $font__main; 
          }
          input[type="checkbox"] {
            margin: -2px 8px 0 0;
          }
          .acf-field {
            position: relative;
          }
          .acf-required {
            position: absolute;
            right: 22px;
            @include breakpoint($small) {
              right: 193px;
            }
            @include breakpoint($medium) {
              right: 295px;
            }
            @include breakpoint($tablet) {
              right: 105px;
            }
            @include breakpoint($large) {
              right: 175px;
            }
          }
          ul.acf-checkbox-list {
            padding: 4px;
          }
        }
        @include breakpoint($tablet) { //.col2-set 
          width: 95%;
          form {
            &.login,
            &.register {
              max-width: 90%;
              min-height: 335px;
            }
            
          }
        }
      }
  }
} // .wwocommerce-account

#mon-compte {
  h2 {
    a {
      @include on-event() {
        text-decoration: underline;
      }
    }
  }
  #s-0 {
    h2 {
      @include font-size($font-h2-top);
      font-weight: 400;
    }
  }
  #s-1 {
    h2 {
      @include font-size($font-h2-middle);
      font-weight: 300;
    }
    form {
      input[type="submit"] {
        width: 100%;
      }
      a {
        @include font-size($font-forgot-pwd);
        text-align: center;
        margin-top: 10px;
        color: #cbcbcb;
        display: block;
        @include on-event() {
          text-decoration: underline;
        }
      }
    }
  }
  #s-2 {
    h2 {
      @include font-size($font-h2-bottom);
      font-weight: 300;
    }
  }

}

