
//  Created on : 7 sept. 2016, 14:22:53
// -----------------------------------------------------------------------------
// This file contains all styles related to Partenaire / Dashboard - plugins WC-user
// -----------------------------------------------------------------------------

$font-tabs-sizes: (
null: rem(12px),
$medium: rem(14px)
);
$font-actions-sizes: (
null: rem(12px),
$medium: rem(14px)
);
$font-tab-a: (
nul: rem(14px),
$medium: rem(18px)
);
$font-tab-fa: (
nul: rem(18px),
$medium: rem(25px)
);


/* Dashboard partenaire */


#wcv-product-edit {
  //@extend .site-content-invite;
}
.wcv-grid {
  .wcv_dashboard_table_header {
    padding: 0 0 20px;
  }
  .wcv-product-media {
    margin: 30px 0;
    .wcv-featuredimg {
      background: $white;
      border: 1px solid $color__border-content;
      width: 90%;
    }
  }
  wcv-product-type {
    margin-bottom: 20px;
  }
  table {
    .row-actions {
      opacity: 1;
      a {
        @include font-size($font-actions-sizes);
        color: $color__link;
      }
    }  
  }
  ._sold_individually_field {
    margin-top: 17px;
    padding-left: 20px;
    label {
      margin-right: 10px;
    }
    .description {
      display: block;
      margin-top: 10px;
    }
  }
}// .wcv-grid

.wcv-cols-group.wcv-horizontal-gutters>[class*=all-], 
.wcv-cols-group.wcv-horizontal-gutters>[class*=xlarge-] {
  padding-left: 0;
}
.wcv-cols-group.wcv-horizontal-gutters>[class*=tiny-],
.wcv-cols-group.wcv-horizontal-gutters>[class=all-50] {
  padding-right: 15px;
}


.wcv_dashboard_datepicker .all-100,
.wcv-navigation ul.menu.black {
    background-color: transparent;
}


.wcv-form,
.wcvendors-table {
  font-family: $font__main; 
}
.wcv-form {

  input[type=email],  
  input[type=password], 
  input[type=tel], 
  input[type=text], 
  input[type=url], 
  textarea {
    max-width: 100%;
    border: 1px solid $color__border-content;
    font-family: $font__main;
    font-weight: 400;
  }
  textarea {
    box-shadow: none;
  }
  
  input[type="submit"]#draft_button  {
    max-width: 250px;
    margin-top: 0;
    background: $white;
    border: 1px solid $blue;
    color: $blue;
    transition: all 0.3s ease;
    @include on-event() {
      color: $orange__onlyoo!important;
      border-color: $orange__onlyoo;
    }
  }
  
/* WCV TABS */

.wcv-tabs { // styles also in /online-booking/_tabs.scss
  margin: 0 -30px;
  
  li {
    width: 25%;
  }
  &.top {
    .tabs-nav {
      border-bottom: 0;
      li {
        width: 25%;
        margin: 0;
        padding: 0;
        a {
          border-radius: 0;
          margin: 0;
          padding: 0;
          border: 1px solid $color__border-content;
          @include font-size($font-tab-a);
          font-family: $font__main;
          text-transform:none;
          color: $black;
          display:block;
          background-color:$white;
          text-align:center;
          line-height:72px;
          padding:0;
          margin:0;
          border-radius: 0;
          border-right:1px solid $color__border-content;
          border-bottom:1px solid $color__border-content;
          cursor: pointer;
          @include on-event() {
            text-decoration: none;
          }
          .fa {
            @include font-size($font-tab-fa);
            margin-right: 5px;
            color: $color__tabs-icons;
          }
        }
        &.active {
          a {
            background-color:$color__tabs-bg-active!important;
            margin:0;
            border-bottom: 1px solid $color__tabs-bg-active!important;
            position:relative;
            color: $black;
            &:after {
             content:"";
             display:block;
             width:90%;
             margin:0 auto;
             height:5px;
             background:#F2910D;
             position:absolute;
             bottom:0;
             left:0;
             right:0;
            }
            .fa {
              color: $color__tabs-icons-active;
            }
          }
        }
      }
    }
  } // &.top

  .tabs-content {
    margin: 0 0 30px;
    padding: 30px 40px;
    border:1px solid $color__border-content;
    border-top: 0;
    &.active {
      background: $color__tabs-bg-active;
    }
    em {
      @include font-size($font-tabs-sizes);
      color: $grey__medium;
    }
  }
  .control-group {
    margin-top: 20px;
  }
  textarea {
    border: none;
    &.short {
      height: 120px;
    }
  }
} // .wcv-tabs
  
}

#wcv-product-edit,
.wcv-form {
  .wcv-cols-group {
     .all-50 {
        &:nth-of-type(1) {
          padding-right: 20px;
        }
      }
  }
  .select2-container {
    width: 50%;
  }
}

