#page-template-full-width #menuToggle,#page-template-full-width #site-navigation,#page-template-full-width #logger{
  display: none;
}
#page-template-full-width #site-wrapper #masthead {
  border: none;
  height: 70px;
  background: transparent;
  position: fixed;
  top: inherit;
  left: inherit;
  width: 100%;
  padding: 10px;
}
body#page-template-full-width{padding: 0 !important;}
#page-template-full-width .page #page-wrapper {
  padding: 0;
  clear: both;
}