/// font sizes map for media queries
/// use with @include font-size($) 

$font-landing-title: (
null    : (rem(24px), 1),
$medium : rem(40px),
$large : rem(48px)
);
$font-landing-subTitle: (
null    : (rem(14px),1),
$medium : rem(19px),
$large  : rem(24px)
);
$font-landing-h2: (
null    : (rem(18px),1),
$medium : rem(40px)
);
$font-landing-h3: (
null    : (rem(20px),1.4),
$medium : (rem(25px),1),
$large :  rem(30px)
);
$font-s4-title: (
null    : (rem(30px),1),
$medium : (rem(56px), 0.5)
);
$font-s4-subTitle: (
null    : (rem(44px),1),
$medium : rem(86px)
);
$font-s4-p: (
null    : (rem(16px),1),
$medium : rem(32px)
);
$font-s4-btn: (
null    : (rem(13px),2.8),
$medium : (rem(16px), 3.9)
);
$font-s4-btnSubTitle: (
null    : (rem(12px),1),
$medium : rem(18px)
);
$font-tel: (
null    : (rem(28px),1),
$medium : rem(36px)
);
$font-follow: (
null    : (rem(18px),1),
$medium : rem(21px)
);
$font-diese: (
null    : (rem(23px),1),
$medium : rem(35px)
);

#page-template-full-width #menuToggle,
#page-template-full-width #site-navigation,
#page-template-full-width #logger {
  display: none;
}
body#page-template-full-width {
  padding: 0 !important;
}
#page-template-full-width .page #page-wrapper {
  padding: 0;
  clear: both;
}

#coming-soon {
  padding-top: 0;

  #masthead {
    border: none;
    height: $height__header;
    background: $color__bg-body;
    position: fixed;
    top: 0;
    left: inherit;
    width: 100%;
    padding: 0 10px;
    display: none;
  }
  
  #s-0 {
    height: 475px;
    position: relative;
    
    h1 {
      @include replace-text('logo-onlyoo.png');
      width: 147px;
      height: 51px;
      border: none;
      margin-top: -20px;
    }
    
    .title-container {
      margin-top: -62px;
    }
    .landing-title,
    .landing-subTitle {
      font-family: $font__secondary ;
      text-align: right;
      font-weight: 300;
    }
    .landing-title {
      @include font-size($font-landing-title);
      color: $black__title;

      b {
        font-weight: 500;
      }
    }
    .landing-subTitle {
      @include font-size($font-landing-subTitle);
      color: $grey;
      margin-top: 13px;
      padding-right: 10px;
      position: relative;

      &:after {
        content: '';
        position: absolute;
        right: 0;
        top: 0;
        width: 5px;
        height: 13px;
        display: block;
        background-color: $orange__dark;
      }
    }
    
    @include breakpoint($medium) { // #s-0
      height: 760px;
      h1 {
        margin-top: 15px;
      }
      .title-container {
        margin-top: 40px;
      }
      .landing-subTitle {
        padding-right: 15px;
        &:after {
          top: 2px;
          height: 20px;
        }
      }
    }
  } // #s-0
  
  #s-1 {
    background: url('./img/fond-landing-flou1.jpg') right center no-repeat;
    background-size: cover;
    .l-box {
      padding: 25px 0;
    }
    h2 {
      @include font-size($font-landing-h2);
      text-align: center;
      color: $marron__dark;
      font-weight: 700;
      margin: 0;
    }
  }// #s-1
  
  #s-2 {
    padding: 30px 0;
    .multiColumn {
      max-width: 900px;
    }
    .l-box {
      padding: 0;
    }
    h3 {
      @include font-size($font-landing-h3);
      text-align: center;
      font-weight: 300;
      margin-bottom: 35px;
      padding: 0 25px;
      
      b{
        font-weight: 600;
      }
    }
    .col_block {
      text-align: center;
      margin-bottom: 20px;
      
      &:nth-of-type(2) {
        .fb-big {
          @include sprites-sprite(FB-landing);
        } //  FACEBOOK icon
      }
      &:nth-of-type(3) {
        .tw-big {
          @include sprites-sprite(TW-landing);
        } //  TWITTER icon
      }
      &:last-of-type {
        .in-big {
          @include sprites-sprite(IN-landing);
        } //  NOTREBLOG icon
      }
      
      a {
        text-indent: -200%;
        overflow: hidden;
        display: block;
        margin: 0 auto;
      } 
    }
    
    @include breakpoint($xsmall 767px) {
      .col_block:nth-of-type(2),
      .col_block:nth-of-type(4) {
        width: 27%;
      }
      .col_block:nth-of-type(3) {
        width: 45%;
      }
    }
    
    @include breakpoint($medium) {
      padding: 53px 0;
      
      h3 {
        padding: 0;
      }
      .col_block {
        margin-bottom: 0;
      }
    }

  } // #s-2
  #s-3 {
    background: url('./img/fond-landing-flou2.jpg') right center no-repeat;
    background-size: cover;
    .l-box {
      padding: 0;
    }
    h3 {
      @include font-size($font-landing-h3);
      color: $white;
      text-transform: none;
      font-weight: 300;
      text-align: center;
      margin: 0 0 30px;
    }
    form {
      @include clearfix();
      &.wpcf7-form {
        float: none;
        max-width: 630px;
      }
      .wpcf7-form-control-wrap {
        max-width: none;
        display: block;
      }
      input[type="email"] {
        width: 80%;
        height: 40px;
        max-width: 100%;
        display: block;
        border-radius: 0;
        border-radius: 4px;
        padding-left: 15px;
        float: none;
        margin-bottom: 20px;
      }
      input[type="submit"] {
        max-width: 170px;
        height: 40px;
        display: block;
        margin-top: 0;
        border-radius: 4px;
        background-color: $color__button-news;
        font-size: 14px;
        font-weight: 700;
        text-transform: none;
      }
    } 
    
    @include breakpoint($medium) {
      form {
        .wpcf7-form-control-wrap {
          max-width: 439px;
        }
        input[type="email"] {
          width: 100%;
          height: 58px;
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
          float: left;
          margin-bottom: 0;
        }
        input[type="submit"] {
          height: 60px;
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
        }
      }
    }
  }// #s-3
  
  #s-4 {
    padding: 100px 0px 58px;
    
    .blue-content {
      @include background-opacity($blue, 0.5);
      max-width: 775px;
      margin: 0 auto;
      padding: 50px 0;
      color: $white;
      text-align: center;
      
      .title,
      .subTitle,
      .text,
      .btn-subTitle {
        @include text-shadow(1px, 3px, 7px, $black__shadow);
        color: $white;
      }
      
      .title,
      p {
        font-weight: 300;       
      }
      .subTitle,
      .btn {
        font-weight: 700;
      }
      .title {
        @include font-size($font-s4-title);
      }
      .subTitle {
        @include font-size($font-s4-subTitle);
      }
      .text {
        @include font-size($font-s4-p);
        padding: 20px 0;
      }
      .btn {
        @include font-size($font-s4-btn);
        @include text-shadow(1px, 1px, 3px, $black__shadow);
        width: 70%;
        max-width: 388px;
        height: 40px;
        background: $blue__btn ;
        border-radius: 35px;
        text-align: center;
        margin: 0 auto;
      }
      .btn-subTitle {
        @include font-size($font-s4-btnSubTitle);
        font-weight: 600;
        margin-top: 20px;
      }
    }
    @include breakpoint($medium) {
      padding-top: 239px;
      .blue-content {
        padding: 145px 0 90px;
        .text {
          padding: 40px 0;
        }
        .btn {
          height: 60px
        }
      }
    }
  } // #s-4
  
  #s-5 {
    padding: 30px 0;
    text-align: center;
    h3 {
      @include font-size($font-landing-h3);
      text-align: center;
      font-weight: 300;
      margin-bottom: 40px;
      b{
        font-weight: 600;
      }
    }
    .tel {
      @include font-size($font-tel);
      font-family: $font__secondary;
      font-weight: 700;
      position: relative;
      display: inline-block;
      margin-bottom: 38px;
      &:before {
        @include sprites-sprite(phone);
        content: '';
        position: absolute;
        left: -53px;
        top: -4px;
        display: block;
      }
    }
    form {
      max-width: 680px;
      float: none;
      width: 90%;
      input {
        margin: 0 auto 10px;
        padding: 0 15px;
        float: none;
        height: 40px;
      }
      textarea {
        width: 94%;
        max-width: none;
        height: 130px;
        margin-bottom: 40px;
      }
      input,
      textarea {
        @include placeholder() {
          color: $color__placeholder;
        }
        border: 1px solid $color__button-border;
      }
      input[type="submit"] {
        width: 90%;
      }
    }

    @include breakpoint($small) {
      form {
        width: 59%;
      }
    }
    @include breakpoint(667px) { // Iphone6 landscape
      form {
        width: 50%;
      }
    }
    @include breakpoint(736px) { // Iphone6 Plus landscape
      form {
        width: 94%;
      }
    }
    @include breakpoint($medium) {
      padding: 60px 0 35px;
      
      .tel {
        &:before {
          left: -65px;
          top: 0;
        }
      }
      
      form {
        width: 100%;
        input {
          max-width: 285px;
          margin: 0 auto 20px;
          height: 60px;
        }
        input[type="submit"] {
          width: 100%;
        }
        textarea {
          width: 98%;
          height: 145px;
        }
      }
    }
    
    @include breakpoint($large) {
      form {
        max-width: 830px;
        
        input {
          max-width: 328px;
        }
      }
    }
  } // #s-5
  #s-6 {
    text-align: center;
    padding: 15px 0;
    .s7 {
      @include font-size($font-follow);
      color: $orange__onlyoo;
      display: block;
    }
    .s7-2 {
      @include font-size($font-diese);
      color: $white;
      margin: 0 40px;
      font-weight: 300;
      display: block;
      margin: 20px 0;
    }
    a {
      text-indent: -100%;
      overflow: hidden;
      display: inline-block;
      margin: 0 15px;
      &.fb {
        @include sprites-sprite(icone-facebook);
      }
      &.tw {
        @include sprites-sprite(icone-twitter);
      }
      &.pint {
        @include sprites-sprite(icone-pinterest);
      }
      &.gp {
        @include sprites-sprite(icone-google);
      }
      &.yout {
        @include sprites-sprite(icone-you-tube);
      }
    }
    
    @include breakpoint($medium) {
      padding: 50px 0 40px;
      .s7,
      .s7-2 {
        display: inline-block;
        margin: 0 20px;
      }
      a {
        margin: 0 20px;
      }
    }
  } //#s-6
   #footer-newsletter {
    display: none;
  }
  
  .site-footer {
    display: none;
  }
}

