
//  Created on : 31 août 2016, 12:19:17
// -----------------------------------------------------------------------------
// This file contains all base styles 
// -----------------------------------------------------------------------------


html {
  box-sizing: border-box;
  font-size: $base--font-size;
  line-height: $base--line-height;
}

body {
  @include font-smoothing();
  @include clearfix();
  background: $color--bg-body;
  font-family: $font__main;
  //font-size:14px;
  color:#333;
  margin: 0;
  padding:100px 0 0 0;
  z-index: 0;
}

body,
p {
  font-family: $font__main;
}

#site-wrapper{
  background: $color__bg-wrapper;
}

.orange {
  color: $orange__onlyoo;
}
.white-block {
  @include clearfix();
  background-color: $white;
  border: 1px solid $color__border-content;
  border-radius: 10px;
  margin: 0 10px 10px;
  padding: 10px;
  max-width: none;
 
  @include when-inside('.logged-in') {
    max-width: 808px;
  }
  
  @include breakpoint($large) {
    margin: 30px 15px;
    padding: 30px;
  }
  @include breakpoint(1025px) {
    margin-left: 0; 
    margin-right: 7px;
  }
}

.blue-bg {
  background: $blue;
}

.brown-bg {
  background: #8e7b6f;
}