
//  Created on : 31 août 2016, 12:19:25
// -----------------------------------------------------------------------------
// This file contains all styles related to headings
// -----------------------------------------------------------------------------

$font-h1: (
  null    : rem(23px),
  $medium : rem(28px)
);
$font-h2: (
  null    : (rem(23px),1),
  $medium : (rem(30px),1)
);
$font-h2-dashboard: (
  null    : (rem(16px),1),
  $medium : (rem(20px),1.6)
);
$font-h3: (
  null    : (rem(20px),1),
  $medium : (rem(24px),1)
);
$font-h4: (
  null    : (rem(18px),1),
  $medium : (rem(22px),1)
);
$font-h5: (
  null    : (rem(16px),1),
  $medium : (rem(18px),1)
);
$font-h6: (
  null    : (rem(14px),1),
  $medium : (rem(16px),1)
);

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font__main;
  margin:0;
}

h1 {
  @include font-size($font-h1);
  color: $color__title-h1;
  font-weight: 300;
  
  .page & {
    margin: 40px 0 25px;
  }
  
  #parrainage & {
    @include background-opacity($white, 0.8);
    display: inline-block;
    margin: 30px 0 0;
    padding: 46px 156px 25px 84px;
  }
}
h2 {
  @include font-size($font-h2);
  margin-top: 0;
  margin-bottom: 25px;
  text-align: left;
  border-bottom: 1px solid $color__border;
  padding-bottom: 15px;
  
  #dashboard &,
  .page & {
    @include font-size($font-h2-dashboard);
    margin: 0 0 30px;
  }
  .page & {
    border: none;
    color: $color__title-h2;
    font-weight: 400;
    margin: 0;
    padding: 0;
  }
  #confidentialite &,
  #mentions-legales & {
    margin: 38px 0;
  }
  #messagerie &,
  #coming-soon &,
  #colophon &,
  #secondary & {
    border: none;
    padding-bottom: 0;
    margin-bottom: 20px;
    text-align: center;
    
    @include breakpoint($medium) {
      text-align: left;
    }
  }
  #comment-ca-marche .entry-content & {
    margin-bottom: 30px
  }
  
} // h2

h3 {
  @include font-size($font-h3);
}
h4 {
  @include font-size($font-h4);
}
h5{
  @include font-size($font-h5);
}
h6{
  @include font-size($font-h6);
}
