
//  Created on : 31 août 2016, 12:19:25
// -----------------------------------------------------------------------------
// This file contains all styles related to headings
// -----------------------------------------------------------------------------

$font-h2: (
  null: (rem(23px),1),
  $medium : (rem(30px),1)
);
$font-h3: (
  null: (rem(20px),1),
  $medium : (rem(24px),1)
);
$font-h4: (
  null: (rem(18px),1),
  $medium : (rem(22px),1)
);
$font-h5: (
  null: (rem(16px),1),
  $medium : (rem(18px),1)
);
$font-h6: (
  null: (rem(14px),1),
  $medium : (rem(16px),1)
);

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font__main;
  margin:0;
}
h2 {
  @include font-size($font-h2);
  margin-top: 0;
  margin-bottom: 20px;
  text-align: left;
}
h3 {
  @include font-size($font-h3);
}
h4 {
  @include font-size($font-h4);
}
h5{
  @include font-size($font-h5);
}
h6{
  @include font-size($font-h6);
}
