
//  Created on : 31 août 2016, 12:19:09
// -----------------------------------------------------------------------------
// This file contains all styles related to variables
// -----------------------------------------------------------------------------

// Container max-width
$grid                   : 1170px;
/// Regular font family
/// @type List
$base--font-size        : 16px; //  compass $variables to use with vertical rhythm mixin
$base--line-height      : 1.5;

/// Fonts
$font__main             : 'Open Sans', sans-serif !default;
$font__secondary        : 'Raleway', sans-serif !default;

/// Dimensions
$height__header         : 70px;

/// Colors
/// @type Color
$white                  : #fff;
$black                  : #000;
$black__title           : #353535;
$black__shadow          : rgba(0,0,0, 0.35);
$blue                   : #2899d5;
$blue__btn              : #1c86be;
$grey                   : #b1b0b1;
$grey__light            : #f8f8f8;
$grey__medium           : #414141;
$marron                 : #4f4640;
$marron__dark           : #372f29;
$orange                 : #f2910c;
$orange__dark           : #e1942d;
$orange__onlyoo         : #e88708;

///Backgrounds
$color__bg-body         : $grey__light ;
$color__bg-wrapper      : $white;
$color__bg-header       : $white;
$color__bg-footer       : #221f1d;
$color__bg-screen       : $grey;
$color__bg-footer-infos : #1d1a17;
$color__bg-account-nav  : $grey__medium;

///Texts
$color__text-main       : $black;
$color__text-screen     : $black;
$color__text-footer     : $marron;
$color__text-account-nav: #b1b1b1;
$color__placeholder     : #cacaca;

///Links


///Titles
$color__h2-footer       : $orange__onlyoo;

///Menus
$color__mainMenu        : $black;
$color__mainMenu-hover  : $orange;
$color__footerMenu      : $white;

/// Buttons
$color__button-news     : #ea901e;
$color__button-border   : #e5e5e5;
$color__button-bg       : $orange__onlyoo;
$color__button-text     : $white;

/// Borders
$color__border          : #ccc;
$color__border-content  : #e5e5e5;

/// Tabs
$color__tabs-bg         : #f1f1f1;
$color__tabs-border     : #ccc;
$color__tabs-active     : $white;

/// Breakpoints map
/// @requires breakpoints
// .foo { @include breakpoint($small){ ...}}
$xsmall                 : 320px;
$small                  : 568px;
$medium                 : 768px;
$large                  : 1024px;
$xlarge                 : 1200px;