/*
!.gitignore
#except plugins & themes directory
!themes/
!plugins/
plugins/*
!plugins/online-booking/
!plugins/front-end-pm/
!plugins/online-booking/*
!plugins/front-end-pm/*
.DS_Store
/nbproject
.sass-cache/
