
//  Created on : 31 août 2016, 12:35:14
// -----------------------------------------------------------------------------
// This file contains all styles related to content
// -----------------------------------------------------------------------------

#site-wrapper {
  background-color: $grey__light;
  position: relative;
  
  @include when-inside('#single') {
    background-color: $white;
  }
}

#page-wrapper {
  .inner-content {
    margin: 20px auto;
  }
}

#page-header {
  padding:0;
  max-width:$grid;
  margin:auto;
  display:block
}

#primary-invite {
  margin: 20px auto;
  padding-bottom: 50px;
}

.main-blocks {
  @include clearfix();
  background-color: $white;
  border: 1px solid $color__border-content;
  border-radius: 10px;
  margin: 0 10px 10px;
  padding: 10px;
  max-width: none;
 
  @include when-inside('.logged-in') {
    max-width: 808px;
  }
  
  @include breakpoint($large) {
    margin: 20px 15px;
    padding: 30px;
  }
  @include breakpoint(1025px) {
    margin-left: 0; 
    margin-right: 7px;
  }
}

.site-content-invite,
.sidebar-top {
  @extend .main-blocks;
}
.site-content-invite,
.sidebar-top {
  margin-top: 20px;
}

