
//  Created on : 31 août 2016, 12:35:14
// -----------------------------------------------------------------------------
// This file contains all styles related to content
// -----------------------------------------------------------------------------

#site-wrapper {
  background-color: $grey__light;
}

#page-wrapper {
  .inner-content {
    margin: 20px auto;
  }
}

#page-header {
  padding:0;
  max-width:$grid;
  margin:auto;
  display:block
}

#primary-invite {
  margin: 20px auto;
  padding-bottom: 50px;
}

.site-content-invite {
  background-color: $white;
  border: 1px solid $color__border-content;
  border-radius: 10px;
  margin: 20px 15px;
  padding: 10px;
  max-width: none;

  @include when-inside('.logged-in') {
    max-width: 808px;
  }
  
  @include breakpoint($medium) {
    padding: 30px;
  }
  @include breakpoint(1025px) {
    margin-left: 0; 
    margin-right: 7px;
  }
}

.wcv-cols-group.wcv-horizontal-gutters>[class*=all-], 
.wcv-cols-group.wcv-horizontal-gutters>[class*=xlarge-] {
  padding-left: 0;
}
  
  