
//  Created on : 31 août 2016, 12:34:59
// -----------------------------------------------------------------------------
// This file contains all styles related to the Header
// -----------------------------------------------------------------------------


#masthead {
  border-bottom:1px solid #e3e3e1;
  padding:0;
  position:fixed;
  height:100px;
  background: $color__bg-header;
  top:0;
  left:0;
  width:100%;
  transition:all .4s ease;
  z-index: 990;
  float:left;
  clear:both;
  opacity: 1;
  #header-logo {
    margin:0;
    width:235px
  }
}

#header-logo img{
  max-height:70px;
  width:auto;
  margin: 25px auto;
}

.site-branding {
  margin:0 auto;
  display:block;
  position:relative;
  height:100%;
  max-width:1280px;
}
.site-title {
  display:block;
  width:153px;
  height:45px;
    a {
    display:block;
    margin:15px 0 0
  }
}
.site-description {
  color:rgba(0,0,0,0.56)
}

