
//  Created on : 31 août 2016, 12:52:53
// -----------------------------------------------------------------------------
// This file contains all styles related to buttons
// -----------------------------------------------------------------------------

$font-btn-sizes: (
null  : (rem(14px),1)
);


button,
.button,
.btn {
  @include btn($color__button-bg, $color__button-text);
  @include font-size($font-btn-sizes);
  font-family: $font__main;
  font-weight: 600;
  border-radius: 15px;
  text-transform:uppercase;
  padding: 10px 15px;
  display: inline-block;
  transition:all .4s ease;
  
  @include on-event() {
    @include background-opacity($orange__onlyoo, 0.75);
    color: $color__button-text!important;
    text-decoration: none!important;
  }
  
  &.create {
    font-weight: 700;
    line-height: 60px;
    padding: 0 50px;
    border-radius: 30px;
    letter-spacing: 1px;
    margin-top: 40px;
  }
  
  &.btn-border-orange {
    background: $white;
    color: $orange__onlyoo;
    border: 1px solid $orange__onlyoo;
    padding: 0 35px;
    line-height: 43px;
    border-radius: 30px;
    
    @include on-event() {
      background: $orange__onlyoo;
      color: $white;
    }
  }
  
  &.btn-blue {
    background-color: #1f79a9;
    color: $white;
    
    @include on-event() {
      @include background-opacity(#1f79a9, 0.75);
    }
  }
}