
//  Created on : 31 août 2016, 12:53:26
// -----------------------------------------------------------------------------
// This file contains all styles related to Forms
// -----------------------------------------------------------------------------


div.wpcf7-validation-errors {
  border: 1px solid #f7e700;
  background-color: rgba(255, 255, 0, 0.07);
  text-align: center;
}
span.wpcf7-not-valid-tip {
  color: #f00;
  font-size: 12px;
  display: block;
}
div.wpcf7-mail-sent-ok {
  border: 2px solid #A0C444;
  text-align: center;
  background-color: #A0C444;
  color: #fff;
}
input[type=search].search-field {
  border: 1px solid rgba(153, 153, 153, 0.62);
  padding: 0 8px;
  line-height: 30px;
}

input[type=text],
input[type=email],
input[type=tel] {
  border:1px solid #ccc;
  box-shadow:none;
  margin:2px auto 8px;
  border-radius:4px;
  line-height:50px;
  width:96%;
  max-width:90%;
  height:60px;
  display:block;
  padding:0 8px;


}
input[type=submit] {
  @extend .btn;
  border:none;
  padding:0;
  text-transform:uppercase;
  margin:30px auto 0;
  cursor:pointer;
  width:100%;
  height: 45px;
  border-radius:5px;
  max-width:400px;
  display:block;
  line-height:40px;
  transition:all .4s ease
}
textarea {
  border:1px solid rgba(0,0,0,0.17);
  height:80px;
  margin:2px auto 0;
  box-shadow:rgba(34,25,25,0.2) 0 10px 11px -6px inset,#fff 0 -1px 0 0;
  width:96%;
  max-width:600px;
  display:block;
  padding:8px;
  font-size:14px;
}
input[type=submit]:hover {
  background:rgba(228,161,33,0.86)
}
form {
  padding:30px 0;
  font-size:16px;
  max-width:600px;
  margin:auto
}
form .half-inputs .wpcf7-form-control-wrap {
  float:right;
  width:46%;
  margin:0 2%;
  padding:0;
  display:inline-table
}
.half-inputs {
  clear:both;
  display:table
}
form .half-inputs .wpcf7-form-control-wrap.your-name,
form .half-inputs .wpcf7-form-control-wrap.your-subject {
  float:left;
  margin:0 0 0 4px
}