
//  Created on : 31 août 2016, 12:54:42
// -----------------------------------------------------------------------------
// This file contains all styles related to Menus
// -----------------------------------------------------------------------------

#site-navigation.onepage li{float:left;}
#site-navigation,#header-logo{float:left;margin:0 5% 0 0;width:14%}
#site-navigation ul{list-style:none}
#site-navigation ul li{margin:0;transition:all .4s ease;background:#fff}
#site-navigation ul li li a,#site-navigation ul li li li a{line-height:50px;border-bottom:1px solid}
#site-navigation ul li ul li.menu-item-has-children::before{content:"5";display:block;position:absolute;width:8px;height:8px;color:#25A0E8;z-index:9;top:41%;right:12px;font-family:'ElegantIcons';font-weight:400;font-variant:normal;text-transform:none;line-height:1;-webkit-font-smoothing:antialiased}
#site-navigation > ul > li.menu-item-has-children:hover::before{content:"3";display:block;position:absolute;width:8px;height:8px;color:#25A0E8;z-index:9;top:41%;right:12px;font-family:'ElegantIcons';font-weight:400;font-variant:normal;text-transform:none;line-height:1;-webkit-font-smoothing:antialiased}
#site-navigation ul li a.activeMenu{color:#fff;background:#25a0e8}
#site-navigation ul li a{text-decoration:none;text-transform:uppercase;font-size:13px;color:#737272;padding:0 25px;display:block;cursor:pointer;-webkit-text-stroke:1px rgba(0,0,0,0.1);border:none}
#menu-main_menu{display:block;float:left;list-style:none;color:#000;width:100%;margin:30px 0 0 30px}
#menu-main_menu li{float:left;margin:0 4%;font-size:18px}
#menu-main_menu li.current-menu-item a,#menu-main_menu li a:hover{color:#3D72A8}
#menu-main_menu li a{text-decoration:none;color:#757779;text-transform:uppercase;font-size:16px}
#menuToggle{background:none;width:90px;height:24px;position:absolute;right:20px;top:40px;text-indent:0;display:none;text-decoration:none;color:#25A0E8;font-size:20px;line-height:24px}
#menuToggle span{font-size:35px;font-weight:300;position:absolute;right:0;top:-3px}
#menuToggle > div{float:right;font-size:30px;color:rgba(2,2,2,0.48)}
.navigation.pagination{clear:both;display:block;float:right}
.navigation.pagination h2{display:none}
.page-numbers.current{color:#B8B8B8;background-color:#ededed}
.page-numbers{padding:0 8px;line-height:22px;display:block;float:left;margin:10px 4px 20px 0;color:#fff;background-color:#25a0e8}

/*Mobile nav*/
#mobilemenu{background:#A1C445}
#top-menu{padding:0;margin:0}
#mobilemenu ul{list-style:none}
#mobilemenu ul li a{color:#fff;text-decoration:none;text-transform:uppercase;font-size:24px;width:100%;display:block;line-height:50px;padding:0 8px;border-bottom:1px solid #fff}


// Main navigation

#masthead {
  #site-navigation {
    width: 75%;
    ul {
      li {
        width: 24%;
        &.create-event {
          width: 27%;
          a {
            background: #f8f8f8;
            line-height: 23px;
            font-size: 20px;
            padding: 25px 0 29px;
            .fa-sun-o {
              @include sprites-sprite(icone-soleil);
              font-size: 35px;
              color: $orange__onlyoo;
              float: left;
              position: relative;
              top: 4px;
              left: 16%;
              &:before {
                content: '';
              }
            }
          }
        }
        &.grey-bg {
          background: #f0ede8;
          width: 45%;
          span {
            font-weight: 400;
          }
          a {
            font-size: 14px;
            padding: 0;
          }
          &.how {
            width: 27.5%;
          }
        }
        &.current-menu-item {
          a {
            color: $orange__onlyoo;
          }
        }
        a {
          color: $black__menu;
          line-height: 50px;
          font-weight: 700;
          font-size: 16px;
          text-align: center;
          padding: 0;
          transition: all 0.3s ease;
          
          @include on-event() {
            color: $orange__onlyoo;
          }
        }
        .fa-stack {
          margin-right: 5px;
        }
        &.create-event {
          &.current-menu-item {
          a {
            background: $orange__onlyoo;
            border-bottom: 1px solid $orange__onlyoo;
            color: $white;
            position: relative;
            &:after {
             @include center(x);
             content: '';
             position: absolute;
             bottom: -28px;
             width: 1px;
             height: 1px;
             border: 13px solid transparent;
             border-top-color: $orange__onlyoo;
            }
            .fa-sun-o {
              @include sprites-sprite(icone-soleil-active);
            }
          }
        }
        }
      }
    }
  }
}

// Woocommerce my account menu

$font-nav-link: (
null    : (rem(14px),3),
$tablet : (rem(16px), 4.2)
);
$font-nav-subLink: (
null    : (rem(12px),1),
$medium : rem(14px)
);



.ob-account-nav,
.pure-menu-children {
  @include clearfix();
  background: $color__bg-account-nav;
}
.ob-account-nav {
  @include breakpoint($xsmall $medium) {
    overflow: hidden;
  }
}
.woocommerce-account .woocommerce-MyAccount-navigation,
.pure-menu {                     // Dashboard black menu
  margin: 0 auto;
  width: 100%;
  max-width: $grid;  
  float: none;
  height: auto;
  max-height: 0;
  transition: max-height 0.3s ease;

  &.mobile-view {
    max-height: 500px;
  }

  .pure-menu-list {
    @include clearfix();
    width: 100%;
  } // .pure-menu-list
  
  .pure-menu-item {
    width: auto;
    &:before {
      display: none;
    }
    &.is-active,
    &.current-menu-item {
      .pure-menu-link {
        color: $white!important;
      }
    }
  } // .pure-menu-item 
  
  .pure-menu-children {
     
    .pure-menu-link {
      @include font-size($font-nav-subLink);
      font-weight: 600;
      text-transform: none;
      text-align: left;
      line-height: 3;
      transition: color 0.3s ease;
      &:after {
        display :none;
      }
      @include on-event() {
        color: $orange__onlyoo;
      }
      
    }
  }  // .pure-menu-children

  .pure-menu-link {
    @include font-size($font-nav-link);
    color: $color__text-account-nav!important;
    background-color: transparent;
    text-transform: uppercase;
    font-weight: 700;
    padding: 0;
    position: relative;
    text-align: center;
    &:after {
      @include center(x);
      content: '';
      position: absolute;
      bottom: 0;
      width: 99%;
      height: 2px;
      background-color: $orange__onlyoo;
      transform: translateX(-50%) translateY(0) scale(0);
      transition: transform 0.3s ease, opacity 0.3s ease 0.5s;
    }
    @include on-event() {
      &:after {
        transform: translateX(-50%) translateY(0) scale(1);
      }
    }
  } // .pure-menu-link

  @include breakpoint($tablet) {
    max-height: 67px;

    .pure-menu-item {
      width: 16.4%;
    }
    .pure-menu-link {
      &:after {
          height: 7px;
        }
    }
    .pure-menu-children {
      width: auto;
      margin-left: -3px;
      .pure-menu-item {
        width: 100%; 
      }
      .pure-menu-link {
        padding: 0 37px;
        &:after {
          display: none;
        }
      }
    }
  }
  
} //.pure-menu

.woocommerce-MyAccount-navigation {
   &.pure-menu {
      @include breakpoint($large) {
         .pure-menu-item {
          width: 14%;
        }
      }
   }
}


.js-toggle-dashboard-menu {
  display: block;
  color: $white;
  margin: 15px 20px;
  font-weight: 700;
  
  @include breakpoint($tablet) {
    display: none;
  }
}