
//  Created on : 31 août 2016, 12:55:04
// -----------------------------------------------------------------------------
// This file contains all styles related to Posts and pages
// -----------------------------------------------------------------------------


.page-template-default {
  
  .post-content {
     
    p,
    ul,
    li {
      @include font-size($font-page-text);
      font-family: $font__secondary; 
      color: $color__text-page;
    }

    #site-wrapper {
      background: $white;
    }

    ul,
    li {
      list-style: disc inside ;
      margin-bottom: 0;
    }
    li {
      padding-left: 40px;
    }
    strong {
      margin: 27px 0 2px;
      display: block;
    }
    
  }
  
}
